.search-bar {
    text-align: center;
    margin: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .search-bar button {
    padding: 10px 20px;
    background-color: #007acc;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-bar button:hover {
    background-color: #0055a0;
  }
  